

a:hover{
    text-decoration: none;
}

.list-group-item.header{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.list-group-item.active{
    background: #f0ad4e;
    border-color: #f0ad4e;
}
.list-group-item.active:hover{
    background: #f0ad4e;
    border-color: #f0ad4e;
}

.lg-container{
    width: 84%;
    float: left;
    background: #f3f3f3;
}

.body-text{
    font-size:30px;
    float:center;
}

.sm-container{
    width: 24%;
    float: right;
}


.post-list li{
    padding-top: 20px;
}

.post-list li .post-list-img{
    float: left;
}

.post-list-img img{
    max-width: 200px;
    display: block;
}

.post-list li .post-list-con{
    margin-left: 220px;
}

.post-list-con .title{
    margin-top: 10px;
}

.post-list-con .title .title_name{
    max-width: 524px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 24px;
}

.title .title_name:hover{
    color: #ff6f3d;
}

.post-list-con .auth-msg{
    line-height: 18px;
    margin: 6px 0 0;
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
    color: #8c8c8c;
    font-size: 12px;
}

.auth-msg .user_name{
    color: #8c8c8c;
}

.post-list li .post-list-div{
    margin-top: 22px;
    padding-bottom: 11px;
    border-bottom: 2px solid #e6e6ee;
}

.post-list-con .content{
    margin-top: 30px;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    color: #111;
    font-size: 14px;
}


.post-list-con .post-list-comment{
    margin-top: 20px;
}
.post-list-comment .comment{
    line-height: 18px;
    margin: 6px 0 0;
    padding-bottom: 11px;
    border-bottom: 1px solid #e6e6e6;
    color: #8c8c8c;
    font-size: 12px;
}

.post-list-comment .comment-img{
    float: left;
}

.post-list-comment .comment-con{
    margin-left: 40px;
}

.comment-img img{
    max-width: 30px;
    display: block;
}


.comment .auth-com{
    color: #666699;
}
.comment .comm-msg{
    font-size: 12px;
}