<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}听热门音乐 {% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static',filename='css/front_index.css')}}">
<link rel="stylesheet"
      href="{{url_for('static',filename='css/front_base.css')}}">
{% endblock %}

{% block page_content %} 
<div class = 'lg-container' >
    <div class="post-list-container outer-border white-bg">
            <div class="post-con" >
                <ul class="post-list">
                     {% for music in musics %}
                        <li >
                            <div class="post-list-img" style="overflow:auto">
                                <a href="{{music.url}}" target="_blank" >
                                    <img  src="{{music.picUrl}}" alt="liteyou">
                                </a>
                            </div>
                            <div class="post-list-con">
                                <div class="title">
                                    <a class="title_name" href="{{music.url}}" target="_blank" >
                                        {{music.title}}
                                    </a>
                                </div>
                                <div class="auth-msg">
                                    <span class="time">歌手：{{music.auth}}</span>
                                    <span class="star-count">专辑：{{music.album}}</span>
                                </div>
                                <div class = "content">
                                    
                                </div>
                                <div class = "post-list-comment">
                                    {% for comm in music.comments %}
                                    <div class = "comment-img">
                                        <img  src="{{comm.userPic}}" alt="评论">
                                    </div>
                                    <div class = "comment comment-con">
                                        <div class="auth-com">
                                            <span class="time">{{comm.userName}}</span>
                                        </div>
                                        <div class="comm-msg">
                                            <p>{{comm.content}}</p>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
 </div>
{% endblock %}